img {
  border-radius: 8px;
  margin: 10px;
  animation: fadein 2s;
  transition: all 0.3s;
  cursor: pointer;
}
img:hover {
  transform: scale(1.1);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
